Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tools|tests)/'
FormatStyle: file
